.navbar {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  padding: 16px;
  width: 100%;
  background: #484848;

  @media only screen and (max-width: 410px) {
    font-size: 14px;
  }
}

.navbar__title {
  display: inherit;
  align-self: center;
  color: #fff;
}

.navbar__items {
  display: inherit;
  flex-direction: row;
  list-style-type: none;
  align-items: center;
  gap: 8px;
  margin: 0;
}

.navbar__items-item a {
  text-decoration: none;
  color: #fff;
}

.navbar__items-item--active a {
  font-weight: 700;
}
